{% for content in item.content %}
  {% autoescape %}
    {% if content.type == "sentence" %}
      <p class="mt-0 mb-4 last:mb-0 break-words">{{ content.text|raw }}</p>
    {% endif %}
    {% if content.type == "quote" %}
      <p class="mt-0 mb-4 last:mb-0 break-words"><em class="italic text-grey-600 dark:text-grey-500">{{ content.text|raw }}</em></p>
    {% endif %}
    {% if content.type == "code" %}
      <pre class="my-default p-2 bg-grey-200 dark:bg-grey-900 border-code border-solid border-grey-300 dark:border-grey-600 overflow-scroll"><code class="font-code text-grey-700 dark:text-grey-400 leading-tight">{{ content.text|raw }}</code></pre>
    {% endif %}
  {% endautoescape %}
{% endfor %}