<div class="comment__content">
{% for content in item.content %}
  {% autoescape %}
    {% if content.type == "sentence" %}
      <p>{{ content.text|raw }}</p>
    {% endif %}
    {% if content.type == "quote" %}
      <p><em>{{ content.text|raw }}</em></p>
    {% endif %}
    {% if content.type == "code" %}
      {{ content.text|raw }}
    {% endif %}
  {% endautoescape %}
{% endfor %}
</div>