<h2 class="article-title">
  <a href="{{ story.url }}" class="article-title__link">{{ story.title }}</a><span class="article-title__meta"><span class="article-title__source">{{ story.domain }}</span><span class="article-title__comments">{{ story.commentsCount }} comments</span></span>
</h2>