<!DOCTYPE html>
<html class="text-default md:text-plus" lang="en">

<head>
  <meta charset="utf-8">
  <title>Responsive Hacker News</title>
  <meta name="description" content="Just the links from Hacker News, optimised for small screens and mobile devices.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#ff6600">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
  <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body class="m-0 p-0 bg-grey-400 dark:bg-grey-900 font-base text-grey-900 dark:text-grey-300 leading-body">
  <div class="container mx-auto md:mt-6 xl:max-w-xl">
    {{ include('header.html') }}
    {% block content %}{% endblock %}
    {{ include('footer.html') }}
  </div>
</body>

</html>