{% extends "base.html.twig" %}

{% block content %}
  {% if comments|length > 0 %}
  <div class="p-default md:p-plus bg-white">
  {{ include("comments/story.html.twig") }}
  {% for item in comments %}
    {{ include("comments/comment.html.twig") }}
  {% endfor %}
  </div>
  {% endif %}

  {% if comments|length == 0 %}
    {{ include("comments/error.html") }}
  {% endif %}
{% endblock %}