:root {
  --logo-size: 30px;
  --count-size: 30px;
}

@include bp(tablet) {
  :root {
    --logo-size: 36px;
    --count-size: 36px;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-family: $font__main;
  font-size: 100%;
  line-height: $font__base-line-height;
  color: $color__text-default;

  @include bp(tablet) {
    font-size: 112.5%;
  }
}

body {
  margin: 0;
  padding: 0;
  background: $color__background;
}

a {
  color: $color__text-link;
  outline: 0;
  transition: color 0.2s linear;

  &:visited {
    color: $color__text-link-visited;
  }

  &:hover {
    color: $color__text-link-hover;
  }

  &:active {
    color: $color__text-link-active;
  }
}

header {
  background: $color__accent;
  padding: 1rem;

  @include bp(tablet-landscape) {
    padding: 1.5rem;
  }
}

footer {
  padding: 1rem;
  background: $color__background;
}

.container {
  padding: 0;
  background-color: #fff;

  @include bp(tablet-landscape) {
    margin: 1.5rem 10% 0;
  }

  @include bp(desktop) {
    margin: 1.5rem auto 0;
    max-width: $layout__max-width;
  }
}

.primary-title {
  margin: 0;
}

.primary-title__link {
  display: flex;
  align-items: center;
  text-decoration: none;

  &:visited,
  &:hover {
    color: inherit;
  }
}

.primary-title__text {
  flex: 1 0 auto;
  font-size: 1.2rem;
  color: #fff;
}

.primary-title__text--compact {
  @include bp(phablet) {
    display: none;
  }
}

.primary-title__text--full {
  display: none;

  @include bp(phablet) {
    display: block;
  }
}

.primary-title__logo {
  flex: 0 1 var(--logo-size);
  width: var(--logo-size);
  height: var(--logo-size);
  margin: 0 1rem 0 0;
  border: 1px solid #fff;

  @include bp(tablet-landscape) {
    margin: 0 1.5rem 0 0;
  }
}

.links-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.links-list__item {
  padding: 1rem 1rem 0;

  @include bp(tablet-landscape) {
    padding: 1.5rem 1.5rem 0;
  }

  &:after {
    content: "";
    display: block;
    margin: 1rem 0 0 calc(var(--count-size) + 1rem);
    height: 1px;
    background-color: $color__lightest;
    text-align: right;

    @include bp(tablet-landscape) {
      margin: 1.5rem 0 0 calc(var(--count-size) + 1.5rem);
    }
  }

  &:last-child {
    padding-bottom: 1rem;

    @include bp(tablet-landscape) {
      padding-bottom: 1.5rem;
    }
  }

  &:last-child:after {
    display: none;
  }
}

.links-list__link {
  display: block;
  overflow: hidden;
  text-decoration: none;

  @include bp(tablet-landscape) {
    font-size: 1.2rem;
  }

  &:visited {
    .links-list__count {
      color: $color__text-link-visited;
      border-color: $color__lighter;
    }
  }

  &:hover,
  &:active,
  &:focus {
    .links-list__count {
      color: $color__dark;
      border-color: $color__dark;
    }
  }
}

.links-list__content {
  display: flex;
  overflow: hidden;
  margin: 0 0 0 calc(var(--count-size) + 1rem);
  flex-direction: column;

  @include bp(tablet-landscape) {
    margin: 0 0 0 calc(var(--count-size) + 1.5rem);
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.links-list__title {
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 0.25rem;

  @include bp(tablet-landscape) {
    margin-right: 0.5rem;
    margin-bottom: 0;
    line-height: 1.5;
  }
}

.links-list__source {
  color: $color__lighter;
  font-weight: 400;
  font-style: italic;
}

.links-list__count {
  float: left;
  height: var(--count-size);
  width: var(--count-size);
  background-color: #fff;
  border: 1px solid $color__border-default;
  color: $color__dark;
  font-size: 0.875rem;
  line-height: calc(var(--count-size) - 2px);
  text-align: center;
  transition: border 0.2s linear;
}

.links-list__meta {
  display: flex;
  overflow: hidden;
  margin-left: calc(var(--count-size) + 1rem);
  flex-direction: column;

  @include bp(phablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include bp(tablet-landscape) {
    margin-left: calc(var(--count-size) + 1.5rem);
  }
}

.links-list__posted {
  color: $color__mid;
}

.links-list__comments {
  text-decoration: none;

  @include bp(phablet) {
    margin-left: 1rem;
  }
}

.links-list__comments--no-comments {
  color: $color__text-link-visited;
}

.article-title {
  margin: 0;
  padding: 0 0 1rem 0;
  font-size: 1.2rem;
  line-height: 1.2;
}

.article-title__link {
  text-decoration: none;
}

.article-title__source {
  display: block;
  color: $color__lighter;
  font-weight: 400;
  font-style: italic;

  @include bp(tablet-landscape) {
    display: inline;
    padding-left: 0.5rem;
  }
}

.comments {
  padding: 1rem;

  @include bp(tablet-landscape) {
    padding: 1.5rem;
  }
}

.comment {
  margin-bottom: 1rem;

  // Comment markup comes from HN
  p {
    max-width: $font__max_text_line_length;
    margin: 0;
    word-wrap: break-word;

    &:empty {
      display: none;
    }
  }

  p + p {
    margin: 1rem 0 0 0;
  }

  a {
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-decoration-style: dotted;
  }

  pre {
    margin: 1rem 0;
    padding: 1rem;
    overflow: auto;
    background: $color__off-white;
    border: 4px solid $color__lightest;
  }

  code {
    padding: 0;
    margin: 0;
    font-family: $font__code;
    color: $color__text-code;
  }
}

.comment[data-level="0"] {
  position: relative;
  padding: 1rem 0 0 0;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: $font__max_text_line_length;
    height: 2px;
    background-color: $color__lightest;
  }

  .comment__user {
    color: #fff;
    background-color: $color__accent;
  }
}

.comment__meta {
  margin-bottom: 0.5rem;
}

.comment__user {
  padding: 0.2rem 0.5rem;
  margin-right: 0.5rem;
  color: $color__darkest;
  font-weight: 700;
  background-color: $color__lightest;
}

.comment__time-ago {
  font-style: italic;
  color: $color__mid;
}

@for $i from 1 through 20 {
  [data-level="#{$i}"] {
    padding-left: $i * 0.5rem;
  }
}

.attributions {
  text-align: center;

  p {
    margin: 0;
  }

  a,
  a:visited {
    color: $color__mid;
  }

  a:hover {
    color: $color__dark;
  }
}

.no-news,
.no-comments {
  padding: 1rem;

  > h3 {
    margin: 0 0 0.5rem 0;
  }

  > p {
    margin: 0;
  }
}
