* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    font-family: $font__main;
    font-size: 112.5%;
    line-height: $font__base-line-height;
    color: $color__text-default;

    @include bp(tablet-landscape) {
        font-size: 125%;
    }
}

body {
    margin: 0;
    padding: 0;
    background: $color__background;
}

a {
    color: $color__text-link;
    outline: 0;
    transition: color 0.2s linear;

    &:visited {
        color: $color__text-link-visited;
    }

    &:hover {
        color: $color__text-link-hover;
    }

    &:active {
        color: $color__text-link-active;
    }
}

header {
    background: $color__accent;
    padding: 0 1rem;

    @include bp(tablet-landscape) {
        padding: 0 1.5rem;
    }
}

footer {
    padding: 1rem;
    background: $color__background;
}

.container {
    padding: 0;
    background-color: #fff;

    @include bp(tablet-landscape) {
        margin: 1.5rem 10% 0;
    }

    @include bp(desktop) {
        margin: 1.5rem auto 0;
        max-width: $layout__max-width;
    }
}

.primary-title {
    color: #fff;
    margin: 0;
    padding: 1rem 0;
    font-size: 1rem;
}

.primary-title__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;

    &:visited,
    &:hover {
        color: inherit;
    }
}

.primary-title__text {
    flex: 1 0 auto;
    font-size: 1.2rem;

    @include bp(tablet-landscape) {
        font-size: 1.6rem;
    }
}

.primary-title__logo {
    flex: 0 1 32px;
    width: 32px;
    height: 32px;
    margin: 0 1rem 0 0;
    border: 1px solid #fff;

    @include bp(tablet-landscape) {
        margin: 0 2rem 0 0;
    }
}

.links-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.links-list__item {
    margin: 1rem;

    @include bp(tablet-landscape) {
        margin: 1.5rem;
    }

    &:after {
        content: '';
        display: block;
        width: unquote("-webkit-calc(100% - 46px)");
        margin: 1rem 0 0 46px;
        height: 1px;
        background-color: $color__lightest;
        text-align: right;

        @include bp(tablet-landscape) {
            width: unquote("-webkit-calc(100% - 62px)");
            width: unquote("-moz-calc(100% - 62px)");
            width: unquote("calc(100% - 62px)");
            margin: 1.5rem 0 0 62px;
        }
    }

    &:last-child:after {
        display: none;
    }
}

.links-list__link {
    display: block;
    overflow: hidden;
    text-decoration: none;

    @include bp(tablet-landscape) {
        font-size: 1.2rem;
    }

    &:visited {
        .links-list__count {
            color: $color__mid;
        }
    }

    &:hover,
    &:active {
        .links-list__count {
            color: $color__dark;
            border-color: $color__dark;
        }
    }
}

.links-list__content {
    overflow: hidden;
    margin-left: 46px;

    @include bp(tablet-landscape) {
        margin-left: 62px;
    }
}

.links-list__title {
    display: inline-block;

    @include bp(tablet-landscape) {
        margin-right: 0.5rem;
        line-height: 32px;
    }
}

.links-list__source {
    color: $color__lighter;
    display: block;
    font-style: italic;

    @include bp(tablet-landscape) {
        display: inline;
    }
}

.links-list__count {
    float: left;
    height: 32px;
    width: 32px;
    background-color: #fff;
    border: 1px solid $color__border-default;
    color: $color__dark;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    transition: border 0.2s linear;
}

.links-list__posted {
    display: inline-block;
    margin-left: 46px;
    color: $color__mid;
    font-size: 0.875rem;

    @include bp(tablet-landscape) {
        margin-left: 62px;
        font-size: 1rem;
    }
}

.links-list__comments {
    display: inline-block;
    margin-left: 1rem;
    font-size: 0.875rem;
    text-decoration: none;

    @include bp(tablet-landscape) {
        font-size: 1rem;
    }
}

.links-list__comments--no-comments {
    color: $color__text-link-visited;
}

.article-title {
    position: relative;
    margin: 0 0 1rem 0;
    padding: 0 0 1rem 0;
    font-size: 1.2rem;
    line-height: 1.2;

    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 32px;
        height: 4px;
        background-color: $color__accent;
    }
}

.article-title__link {
    text-decoration: none;
}

.article-title__source {
    color: $color__mid;
    display: block;
    font-size: 1rem;
    font-style: italic;
    font-weight: normal;

    @include bp(tablet-landscape) {
        display: inline;
        padding-left: 0.5rem;
    }
}

.comments {
    padding: 1rem;

    @include bp(tablet-landscape) {
        padding: 1.5rem;
    }
}

.comment {
    margin-bottom: 1rem;
    font-size: 1rem;

    // Comment markup comes from HN
    p {
        max-width: $font__max_text_line_length;
        margin: 0;
        word-wrap: break-word;

        &:empty {
            display: none;
        }
    }

    p + p {
        margin: 1rem 0 0 0;
    }

    a {
        overflow-wrap: break-word;
        word-wrap: break-word;
    }

    pre {
        margin: 1rem 0;
        padding: 0.5rem;
        overflow: auto;
        background: $color__off-white;
    }

    code {
        padding: 0;
        margin: 0;
        font-family: $font__code;
        font-size: 0.75rem;
    }
}

.comment__meta {
    margin-bottom: 0.5rem;
}

.comment__user {
    padding: 3px 8px;
    margin-right: 0.5rem;
    border-radius: 4px;
    background: $color__lightest;
    color: $color__darkest;
    font-size: 0.875em;
}

.comment__time-ago {
    color: $color__mid;
    font-size: 0.875em;
}

@for $i from 1 through 15 {
    [data-level="#{$i}"] {
        padding-left: $i * 1rem;
    }
}

.attributions {
    text-align: center;

    p {
        margin: 0;
    }

    a, a:visited {
        color: $color__mid;
    }

    a:hover {
        color: $color__dark;
    }
}

.no-news,
.no-comments {
    padding: 1rem;

    > h3 {
        margin: 0 0 0.5rem 0;
    }

    > p {
        margin: 0;
    }
}
