// Font settings
$font__main: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$font__code: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;
$font__base-line-height: 1.5 !default;

// Colour Variables
$color__accent: #ff6600 !default;//HN Orange
$color__light: #f1f1f1 !default;
$color__mid: #999 !default;
$color__dark: #333 !default;

$color__background: #f1f1f1 !default;

$color__text-default: #444 !default;
$color__text-link: #1e1e1e !default;
$color__text-link-visited: #b8b8b8 !default;
$color__text-link-hover: #ffa600 !default;
$color__text-link-active: #ffa600 !default;

$color__border-default: #ccc !default;

$layout__max-width: 1180px !default;
