// Type Variables
$body-font: Tahoma,Verdana,Segoe,sans-serif;
$additional: Georgia,Times,"Times New Roman",serif;

// Sizes
$base-font-size: 16px;
$base-line-height: 1.5;

// Colour Variables
$site-bg: rgb(242,242,242);
$dark: rgb(40,40,40);
$light: rgb(230,230,230);
$mid: rgb(184,184,184);
$primary-accent: rgb(255,102,0);
$primary-text: rgb(100,100,100);
$sub-heading: rgb(242,242,242);
$list-bg: rgb(255,255,255);
// Links
$link: rgb(30,30,30);
//$link-visited: rgb(255,166,0);
$link-visited: rgb(184,184,184);
$link-hover: rgb(255,166,0);//rgb(0,89,255);
$link-active: rgb(255,166,0);

// Borders
$default-border: 1px solid rgb(200,200,200);

// Settings
$default-gap: 1em;