@import 'variables';
@import 'mixins';
@import 'normalize';

html, body {height: 100%;}
body {
    background: $site-bg;
    color: $primary-text;
    font-family: $body-font;
    font-size: $base-font-size;
    line-height: $base-line-height;
}
.container {
    padding: 0 0 1.5em 0;
    @include bp(tablet-landscape) {
        padding: 1.5em 10%;
    }
}
h1 {
    color: $dark;
    margin: 0;
    padding: 0;
}
a {
    color: $link;

    &:visited {
        color: $link-visited;
    }
    &:hover {
        color: $link-hover;
    }
    &:active {
        color: $link-active;
    }
}
.title {
    background: $primary-accent;
    padding: 0 1em;
    @include bp(tablet-landscape) {
        padding: 0 2em;
    }

    h1 {
        @include font-size(16px);
        @include bp(phablet) {
            @include font-size(20px);
        }
        @include bp(tablet-landscape) {
            @include font-size(32px);
        }
        line-height: 96px;
    }
}
.hn-logo {
    border: 1px solid #FFF;
    display: block;
    float: left;
    height: 30px;
    margin: 32px 16px 0 0;
    width: 30px;
    @include bp(tablet-landscape) {
        margin: 32px 32px 0 0;
    }
}
#links-list {
    background-color: $list-bg;
    list-style: none;
    margin: 0 0 1.5em 0;
    padding: 0;

    li {
        padding: 0 1em;
        @include bp(tablet-landscape) {
            padding: 0 32px;
        }

        &:last-child .comments {
            border: none;
        }
    }

    .hn-link {
        @include clearfix();
        //border-bottom: $default-border;
        display: block;
        overflow: hidden;
        padding: 1em 0 0 0;
        text-decoration: none;

        @include bp(phablet) {
            @include font-size(20px);
        }
        @include bp(tablet-landscape) {
            padding: 1.5em 16px 0;
        }
    }

    .link-content {
        overflow: hidden;
    }

    .link-text {
        margin-right: 16px;
    }

    .source {
        color: $mid;
        display: block;
        font-family: $additional;
        font-style: italic;
        @include bp(tablet-landscape) {
            display: inline;
        }
    }

    .count {
        @include border-radius(100px);
        @include font-size(12px);
        background-color: $light;
        border: $default-border;
        color: $dark;
        display: block;
        float: left;
        height: 22px;
        line-height: 22px;
        margin: 4px 16px 0 0;
        text-align: center;
        width: 22px;
    }

    .posted {
        color: $mid;
        display: block;
        @include font-size(14px);
        @include bp(phablet) {
            @include font-size(16px);
        }
    }

    .comments {
        display: block;
        border-bottom: $default-border;
        margin-left: 40px;
        padding: 0 0 1em 0;

        @include bp(tablet-landscape) {
            padding: 0 16px 1.5em;
        }
    }

    .hn-comment {
        text-decoration: none;
        @include font-size(14px);
        @include bp(phablet) {
            @include font-size(16px);
        }
    }

    a:visited {
        .count {
            color: $mid;
            background-color: white;
        }
    }
    a:active {
        .count {
            color: $light;
            background-color: $dark;
        }
    }
}
.footer-inner {
    text-align: center;
}